.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.profile-header .actions-container {
    position: relative;
}

.profile-header .actions-container .action-icon {
    cursor: pointer;
}

.profile-header .actions-container .actions-popover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    width: 200px;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
}

.profile-header .actions-container .actions-popover .action{
    padding: 0.5rem 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.profile-header .actions-container .actions-popover .action:hover{
    background-color: #f8f9fa;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.profile-info .picture-container {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border: 1px solid #f0f0f0;
    margin-bottom: 1rem;
}

.profile-info .picture-container .picture {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 3px solid white;
}

.profile-info .name {
    font-weight: bold;
}

.profile-detail {
    background-color: white;    
    border-radius: 0.25rem;
    border: 1px solid #f0f0f0;
    margin-top: 2rem;
    width: 90%;
}

.profile-detail .header {
    background-color: #f5f7fb;
    color: #6c757d !important;
    padding: 0.5rem 1rem;
}

.profile-detail .item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}